* {
  text-decoration: none;
  box-sizing: border-box;
}
.mainNav {
  width: fit-content;
  height: fit-content;
  object-fit: cover;
  z-index: 5;
  border-radius: 0 10px 0 10px;
  border-top: 0;
  border-right: 0;
  border-left: 1px solid var(--brc);
  border-bottom: 1px solid var(--brc);
  background-color: var(--bgc);
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navLinks {
  font-size: 15px;
  text-transform: capitalize;
  color: inherit;
  transition: 1s color cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  padding: 10px;
  justify-content: stretch;
  /* align-items: center; */
}
.navTitle {
  text-transform: capitalize;
  position: relative;
  width: fit-content;
  top: -40px;
}
.navTitle::after {
  content: "";
  height: 3px;
  width: 80px;
  top: -40px;
  border-radius: 10px;
  display: block;
  background-color: var(--icon);
}
.navLinks i {
  display: none;
}
.active{
  color: var(--icon);
}
@media (max-width: 768px) {
  .mainNav {
    position: fixed;
    bottom: 0;
    border-radius: 0px;
    border: 0;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    font-size: 90px;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(50px);
    border-top: 1px solid var(--brc);
  }
  .navLinks {
    padding: 10px 0;
  }
  .navTitle {
    position: static;
    padding: 10px;
  }
  .navTitle::after {
    right: 9px;
  }

  .navLinks {
    /* font-size: 12px; */
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navLinks i {
    display: block;
    font-size: 16px;
  }
  .navLinks span {
    font-size: 10px;
    color: #aaaaaa;
  }
  .icon {
    display: none;
  }
  .isIcon {
    display: block;
  }
}
