.contactMain {
  padding: 15px 0px;
  overflow-wrap: break-word;
}
.contactBox {
  padding: 0 15px;
  overflow-wrap: break-word;
}
form {
  display: block;
}
form::before {
  content: "get in touch";
  display: block;
  text-align: center;
  text-transform: capitalize;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
}
.formFlex {
  display: flex;
  gap: 20px;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #25335c ;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  width: 100%;
}
.container span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 15px;
}
.container span::after {
  content: "";
  width: fit-content;
  background-color: transparent;
  border-radius: 20px;
  padding: 5px;
  transition: 0.2s ease;
}
.container:hover span::after {
  background-color: #d3d7f4;
}
.container input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--icon);
  color: white;
  outline: none;
  font-size: 16px;
  width: 100%;
  transition: 0.2s ease;
  padding: 5px;
}
.container input:placeholder-shown {
  border-bottom: 1px solid rgba(255, 255, 255, 0.318);
}
.container input::placeholder {
  color: var(--emColor);
}
.container textarea {
  background-color: transparent;
  border: 1px dashed #fff;
  resize: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  font-size: 16px;
}
form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
form .phoneNum{
  font-size: 10px;
  color: rgba(74, 251, 86, 0.779);
}
form .formBtn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form .formBtn button {
  background-color: var(--icon);
  color: white;
  text-transform: capitalize;
  padding: 20px 10%;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: all .5s ease;
}
form .formBtn button:active{
  opacity: 0.7;
}
form .formBtn button:hover {
  scale: 0.9;
}
.success-message{
  border: 1px solid green ;
  background-color: rgba(0, 128, 0, 0.346);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.errorMsg{
  border: 1px solid red ;
  background-color: rgba(128, 0, 0, 0.346);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
@media (max-width: 768px) {
  .contactBox {
    padding: 5% 20px;
    height: 85vh;
  }
  .formFlex {
    flex-direction: column;
  }
  form .formBtn button {
    padding: 3% 10%;
    margin-bottom: 30%;
  }
}

.btnFlex{
  display: flex;
  gap: 10px;
}